<section>
    <div class="flex justify-center items-center mt-3">
        <img class="max-w-1/2 transform scale-50" src="https://pagosenlinea.munimagdalena.gob.pe/img/logom.png" alt="logo muni magdalena">
    </div>
    <div class="bg-gray-400 relative w-full m-auto top-[-40px] rounded-lg shadow-md overflow-hidden flex md:w-1/2 md:min-w-[300px] lg:min-w-[400px]">
        <section class="flex-1 menu bg-yellow-300">
            <menu>ruta</menu>
            <footer>pie</footer>   
        </section>
        <section class="flex-1 options bg-purple-600">
            <div>formularios</div>
            <div>pie</div>
        </section>
    </div>
</section>